.row1{
    text-align: center;
    background-color: maroon;
}
.display-4{
    background-color: maroon;
}
.row2{
    background-color: rgb(255, 123, 0);
}
.img1{
    background-color: rgb(255, 123, 0); 
}
.row3{
    background-color: purple;
}